SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://vision-spots.richardmch.org/callback
PORT=5055
SESSION_SIGNING_KEY=change_this_to_a_random_32_byte_base64_string_at_least
ALLOWED_ORIGIN=visionspots://callback
